body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  width: 900px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.login {
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.login > .btn {
  margin-top: 10px;
  margin-left: 0;
  width: 30%;
}

.account > * {
  margin-left: 12px;
}

.roomlist > * {
  padding: 5px;
  margin: 7px;
  margin-top: 5px;
}

.btn {
  margin-left: 10px;
}

#rooms {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-bottom: 30px;
  margin-top: 15px;
}

ul {
  padding-inline-start: 0;
}

label {
  margin-right: 35px;
}