extends layout

block content
    form(method='POST' action='/auth/update').login
        label(for='email') Email:
        input.form-control(type='email', id='email', name='email')
        label(for='password') Heslo:
        input.form-control(type='password', id='password', name='password')
        +submit-primary("Přihlásit")
