extends layout

block content
    form(method='POST' action='/auth/test')
        label(for='email') Email:
        input.form-control(type='email', id='email', name='email')
        label(for='password') Password:
        input.form-control(type='password', id='password', name='password')
        button(type='submit') Submit